/* Ensuring the entire page takes the full height */
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #078bce);;
    display: flex;
    flex-direction: column;
}
  
  /* Centering the main content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust the height to consider navbar height */
}
  
  /* The box containing the text */
.center-box {
    text-align: center;
    padding: 20px;
    background-color:  #007bff86;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
h1 {
    margin: 0;
    font-size: 4em;
    color:#1e0ec4bb;
}
  
h2 {
    margin-top: 10px;
    font-size: 2rem;
    color: #1e0ec4bb;
}

.green-text {
    color:#29BEB0;
}